<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DojoSurvey</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
    <div class="wrapper">
          <h3><u> Submitted Info:</u> </h3> <br>
       <p class="name"> Name:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp; @ViewBag.name</p>
       <p class ='Location'> Dojo Location:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; @ViewBag.Location</p>
       <p class="langauge">Favorite Langauge:&emsp; &emsp;&emsp; @ViewBag.langauge</p>
       <p class="comment">Comment:<br><br> @ViewBag.comment</p>
       <a href="/"><button type="submit">Go back</button></a>
    </div>
</body>
</html>
   
</body>
</html>